.lay_1301285207{
display:flex;
flex-direction:column;
width:14%;
height:100%;
}
.lay_1515371949{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:70%;
height:38px;
}
.lay_619210704{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:22px;
height:22px;
}
.lay_1659905475{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
}
.lay_2888630313{
display:flex;
flex-direction:row;
height:24px;
}
.lay_462274557{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:92%;
height:6%;
}
.lay_3482410926{
width:100%;
height:fit-content;
}
.lay_1399690073{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
height:100%;
}
.lay_2198888647{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:50%;
height:38px;
}
.lay_4233858163{
display:flex;
flex-direction:row;
width:100%;
height:100%;
}
.lay_1473920705{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_80028923{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:60px;
width:100%;
height:100%;
}
.lay_824965278{
width:10%;
}
.lay_1992507932{
text-align:center;
flex: 1;
}
.lay_226645792{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:100%;
}
.lay_2877939849{
display:flex;
flex-direction:row;
width:14%;
height:100%;
}
.lay_3908757824{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
}
.lay_1374202248{
width:60%;
height:100%;
}
.lay_4125082454{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42px;
height:42px;
}
.lay_3296201278{
width:30%;
height:30%;
}
.lay_3291660741{
display:flex;
flex-direction:column;
width:100%;
}
.lay_3426496787{
display:flex;
flex-direction:column;
width:100%;
height:100%;
}
.lay_183663742{
display:flex;
flex-direction:column;
gap:24px;
width:60%;
}
.lay_3831026980{
display:flex;
flex-direction:column;
gap:12px;
width:100%;
height:95%;
overflow-y:scroll;
}
.lay_742044807{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50px;
}
.lay_2352082878{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_2355004687{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex: 1;
height:60px;
}
.lay_912259808{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_1524187505{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.lay_1071775855{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:auto;
height:30px;
}
.lay_1580544207{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
}
.lay_1983778634{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
width:20%;
height:100%;
}
.lay_3212761532{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:45px;
}
.lay_1660124298{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
width:100%;
height:100%;
}
.lay_1846049402{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:32px;
}
.lay_1435409200{
display:flex;
flex-direction:column;
gap:24px;
width:70%;
}
.lay_2427431289{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:24px;
width:30%;
}
.lay_1313756976{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:8px;
}
.lay_4075706570{
width:100%;
height:100%;
}
.lay_179358966{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:48%;
}
.lay_395582524{
width:24px;
height:24px;
}
.lay_1877045488{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:95%;
overflow-y:scroll;
}
.vis_3404333013{
font-size:24px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_378852699{
fill:rgb(var(--icon_color));
text-decoration:none;
}
.vis_3553003164{
font-size:16px;
text-decoration:none;
}
.vis_3863708168{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(225,225,225);
text-decoration:none;
}
.vis_1048922247{
font-size:192px;
font-family:;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_768169809{
font-size:16px;
font-family:;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_2782233086{
text-decoration:none;
}
.vis_4209938342{
font-size:32px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_1436215770{
font-size:20px;
font-family:;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_858635165{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_3610111763{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_1950349343{
font-size:18px;
text-decoration:none;
}
.vis_3874154844{
font-size:18px;
font-weight:500;
text-decoration:none;
}
.vis_4060112500{
backdrop-filter:blur(3px);
text-decoration:none;
}
.vis_1253340569{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_4143872434{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_1466172412{
font-size:24px;
text-decoration:none;
}
.vis_674019049{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_846913500{
font-size:24px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4289151707{
font-size:16px;
font-family:Azeret Mono, monospace;
text-decoration:none;
}
.vis_3706815932{
font-size:18px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_3319038623{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_1611002382{
background-color:rgba(0,0,0,0);
cursor:pointer;
text-decoration:none;
transition:100ms linear;
}
.vis_1145253112{
font-size:18px;
font-family:;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_1521912593{
font-size:16px;
font-family:Montserrat, sans-serif;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_366807592{
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4269074653{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_75664072{
list-style:none;
text-decoration:none;
}
.vis_2456070613{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_427668022{
font-size:18px;
font-weight:700;
text-decoration:none;
}
.vis_1091182311{
background-color:rgba(0,0,0,0);
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_4265825448{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_738904499{
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgb(0,0,0);
text-decoration:none;
}
.vis_3491491361{
font-size:20px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_2381593747{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgba(0,0,0,0);
list-style:none;
text-decoration:none;
}
.vis_2472390559{
font-size:32px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4026586765{
cursor:pointer;
text-decoration:none;
}
.vis_1022521277{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
}
.vis_723102696{
font-size:16px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_958342801{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(225,225,225);
text-decoration:none;
}
.pos_2686566505{
position:fixed;
top:0px;
right:0%;
left:8%;
z-index:400;
}
.pos_2312966451{
position:absolute;
top:10%;
right:20%;
}
.pos_55937719{
position:absolute;
bottom:5%;
left:20%;
}
.pos_2764679835{
position:fixed;
top:8%;
left:8%;
z-index:999;
}
.pos_2354560430{
position:fixed;
top:8%;
right:2%;
z-index:999;
}
.pos_4226863089{
position:fixed;
top:0px;
right:0px;
left:0px;
z-index:999;
}
.pos_138615651{
position:absolute;
top:8px;
right:8px;
}
.pos_1781655325{
position:relative;
}
.mapa_2641844029{
padding:0px 0px 0px 0px;
margin:32px 0px 0px 0px;
}
.mapa_2382506810{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_1639140863{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_2487839144{
padding:0px 50px 0px 50px;
margin:0px 0px 0px 0px;
}
.mapa_36800357{
padding:0px 0px 0px 0px;
margin:24px 0px 0px 0px;
}
.mapa_949741993{
padding:120px 0px 80px 0px;
margin:0px 0px 0px 0px;
}
.mapa_911696742{
padding:80px 0px 80px 0px;
margin:0px 0px 0px 0px;
}
.mapa_2213458730{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_4117309395{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_227533584{
padding:0px 12px 0px 12px;
margin:0px 0px 32px 0px;
}
.mapa_4066845637{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_766915671{
padding:16px 8px 64px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3646923428{
padding:0px 0px 0px 0px;
margin:0px 0px 32px 0px;
}
.mapa_868563432{
padding:0px 0px 128px 0px;
margin:0px 0px 0px 0px;
}
.mapa_1029637290{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_843586635{
padding:10px 8px 10px 8px;
margin:0px 0px 0px 0px;
}
.mapa_1848794511{
padding:16px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_1451626367{
padding:0px 0px 0px 0px;
margin:0px 0px 0px -16px;
}
.mapa_469117460{
padding:0px 0px 0px 0px;
margin:100px 0px 0px 0px;
}
.intr_4101004655:hover{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
position:none;
}
.intr_1664040927:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
position:none;
}
.intr_457968657:hover{
fill:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_3267677006:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_2275201365:hover{
text-decoration:none;
position:none;
}
.intr_3436696024:hover{
color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_2738320283:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_3191807552:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
position:none;
}
.anim_752735341:hover{
transform:scale(1.049804) ;
}
