.lay_dAbxQ1{
width:24.00px;
height:24.00px;
}
.lay_fEOfp3{
display:flex;
flex-direction:row;
gap:16px;
}
.lay_NgkTA1{
display:flex;
flex-direction:row;
width:14.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_ssavY2{
display:flex;
flex-direction:column;
gap:24px;
width:70.00%;
flex-shrink: 0;
}
.lay_7YcO92{
width:10.00%;
}
.lay_Ohp1Q4{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:70.00%;
flex-shrink: 0;
height:38.00px;
flex-shrink: 0;
}
.lay_O3nsY4{
width:100.00%;
height:100.00%;
}
.lay_vSb0O4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_R6lHk2{
width:14.00px;
height:14.00px;
}
.lay_SysBY1{
text-align:center;
flex: 1;
min-width: 0;
}
.lay_TPZCf{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:92.00%;
flex-shrink: 0;
height:6.00%;
flex-shrink: 0;
}
.lay_5Ak3v{
display:flex;
flex-direction:column;
width:14.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_tnlGg2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:30.00px;
flex-shrink: 0;
}
.lay_miGfi3{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
width:20.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_C7CDC1{
}
.lay_E37W34{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:60px;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_1p3PL{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_sRkjz{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_Y1qMH{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:45.00px;
flex-shrink: 0;
}
.lay_HJ8Qx1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex: 1;
min-width: 0;
height:60.00px;
flex-shrink: 0;
}
.lay_0opRR{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42.00px;
flex-shrink: 0;
height:42.00px;
flex-shrink: 0;
}
.lay_WLTVy{
width:100.00%;
height:fit-content;
}
.lay_R1pCS4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50.00px;
flex-shrink: 0;
}
.lay_cooI21{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:100.00%;
flex-shrink: 0;
}
.lay_9Ziqe3{
width:16.00px;
height:16.00px;
}
.lay_7u3d2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:24px;
width:30.00%;
flex-shrink: 0;
}
.lay_1FR0s2{
display:flex;
flex-direction:row;
height:24.00px;
flex-shrink: 0;
}
.lay_Vau3J3{
width:30.00%;
height:30.00%;
}
.lay_DH5a02{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
height:100.00%;
flex-shrink: 0;
}
.lay_OMUM52{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:50.00%;
flex-shrink: 0;
height:38.00px;
flex-shrink: 0;
}
.lay_si41X3{
display:flex;
flex-direction:column;
gap:12px;
width:100.00%;
flex-shrink: 0;
height:95.00%;
flex-shrink: 0;
overflow-y:scroll;
}
.lay_5cJga3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:22.00px;
flex-shrink: 0;
height:22.00px;
flex-shrink: 0;
}
.lay_EHt132{
display:flex;
flex-direction:column;
gap:8px;
width:100.00%;
flex-shrink: 0;
height:95.00%;
flex-shrink: 0;
overflow-y:scroll;
}
.vis_ml8qd3{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
text-decoration:none;
transition:100ms ease;
}
.vis_X6gDk{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_dv5rq3{
font-size:16px;
text-decoration:none;
}
.vis_3ySDU{
background-color:rgb(var(--background));
text-decoration:none;
}
.vis_1KwHU3{
backdrop-filter:blur(3px);
text-decoration:none;
}
.vis_p9DdO3{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
color:rgb(var(--text_color));
box-shadow:4px 4px 0px 0px rgb(var(--tint));
text-decoration:none;
}
.vis_RGZTP{
text-decoration:none;
}
.vis_29zhJ1{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(225,225,225);
border-style: solid;
text-decoration:none;
}
.vis_ym9aJ{
border-width:0px 0px 0px 1px;
border-color:rgb(0,0,0);
border-style: solid;
text-decoration:none;
}
.vis_zrABW3{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:0px 0px 0px 0px;
text-decoration:none;
}
.vis_jRsGW3{
background-color:rgba(0,0,0,0.00);
border-width:0px 0px 0px 1px;
border-color:rgba(0,0,0,0.00);
border-style: solid;
text-decoration:none;
}
.vis_jdJWy{
background-color:rgba(0,0,0,0.00);
border-width:0px 0px 0px 0px;
text-decoration:none;
}
.vis_VCuhC3{
border-width:0px 0px 1px 0px;
border-color:rgba(0,0,0,0.00);
border-style: solid;
list-style:none;
text-decoration:none;
}
.vis_nCsQm2{
font-size:18px;
font-weight:500;
text-decoration:none;
}
.vis_2InYE3{
font-size:18px;
font-weight:700;
text-decoration:none;
}
.vis_kigpg2{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_PVgpR1{
font-size:32px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_KAUjC3{
background-color:rgba(var(--tint), 0.10);
background-image:radial-gradient(circle, rgba(var(--tint), 0.30) 0.5px, transparent 0px);
background-size: 6px 6px;
background-position: center center;
border-width:0px 0px 0px 1px;
border-color:rgb(var(--tint));
border-style: solid;
text-decoration:none;
}
.vis_oEx991{
font-size:20px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_IHwsw2{
fill:rgb(var(--text_color));
text-decoration:none;
}
.vis_cnK6Z3{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_SW2GF4{
font-size:16px;
font-family:Montserrat, sans-serif;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_4g32b1{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_GORZo1{
color:rgb(var(--tint));
text-decoration:none;
}
.vis_CLxLk2{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_mfMw54{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_ViL754{
font-size:16px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_fxcWt3{
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_AMedi3{
font-size:16px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-family:Azeret Mono, monospace;
text-decoration:none;
}
.vis_8Odp2{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_fPPE04{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_9SR5C2{
font-size:18px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_jjYET4{
fill:rgb(var(--icon_color));
text-decoration:none;
}
.vis_OTG3T2{
list-style:none;
text-decoration:none;
}
.pos_bITd33{
position:fixed;
top:0.00px;
right:0.00%;
left:8.00%;
z-index:400;
}
.pos_wWbi44{
position:absolute;
bottom:5.00%;
left:20.00%;
}
.pos_t0s233{
position:relative;
}
.pos_mKRCe{
position:fixed;
top:8.00%;
right:2.00%;
z-index:999;
}
.pos_SdsMW2{
position:fixed;
top:0.00px;
right:0.00px;
left:0.00px;
z-index:999;
}
.pos_LpN9l3{
position:absolute;
top:10.00%;
right:20.00%;
}
.pos_FEjf82{
position:fixed;
top:8.00%;
left:8.00%;
z-index:999;
}
.pos_e8wtf3{
}
.mapa_WshOF{
padding:0px 12px 0px 12px;
margin:0px 0px 32px 0px;
}
.mapa_3GodU4{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_TK4ER4{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_rPfvm1{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_bnttp{
padding:16px 8px 64px 8px;
margin:0px 0px 0px 0px;
}
.mapa_obiMi2{
padding:0px 50px 0px 50px;
margin:0px 0px 0px 0px;
}
.mapa_4hFg71{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3Qb5v{
padding:10px 8px 10px 8px;
margin:0px 0px 0px 0px;
}
.mapa_JuL712{
padding:16px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_GjRnP2{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.intr_HDHy72:hover{
background-color:rgba(var(--tint), 0.10);
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_nzdbL4:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_t723d3:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_0MyT64:hover{
fill:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_PAoS83:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_sN9sA4:hover{
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_ZyucX:hover{
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:scale(1.040039) ;
}
.intr_HeHdO3:hover{
border-width:0px 0px 1px 0px;
border-color:rgb(var(--text_color));
border-style: solid;
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_U7b0M2:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
