.lay_1301285207{
display:flex;
flex-direction:column;
width:14%;
height:100%;
}
.lay_912259808{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_1524187505{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.lay_1659905475{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
}
.lay_2888630313{
display:flex;
flex-direction:row;
height:24px;
}
.lay_462274557{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:92%;
height:6%;
}
.lay_3482410926{
width:100%;
height:fit-content;
}
.lay_1399690073{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
height:100%;
}
.lay_2198888647{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:50%;
height:38px;
}
.lay_1983778634{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
width:20%;
height:100%;
}
.lay_4233858163{
display:flex;
flex-direction:row;
width:100%;
height:100%;
}
.lay_1660124298{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
width:100%;
height:100%;
}
.lay_1846049402{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:32px;
}
.lay_1473920705{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_226645792{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:100%;
}
.lay_2877939849{
display:flex;
flex-direction:row;
width:14%;
height:100%;
}
.lay_4125082454{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42px;
height:42px;
}
.lay_3291660741{
display:flex;
flex-direction:column;
width:100%;
}
.lay_3831026980{
display:flex;
flex-direction:column;
gap:12px;
width:100%;
height:95%;
overflow-y:scroll;
}
.lay_179358966{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:48%;
}
.lay_2352082878{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_1877045488{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:95%;
overflow-y:scroll;
}
.vis_3553003164{
font-size:16px;
text-decoration:none;
}
.vis_1521912593{
font-size:16px;
font-family:Montserrat, sans-serif;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_366807592{
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4269074653{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_75664072{
list-style:none;
text-decoration:none;
}
.vis_2456070613{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_1048922247{
font-size:192px;
font-family:;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_427668022{
font-size:18px;
font-weight:700;
text-decoration:none;
}
.vis_1091182311{
background-color:rgba(0,0,0,0);
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_768169809{
font-size:16px;
font-family:;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_1436215770{
font-size:20px;
font-family:;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_1950349343{
font-size:18px;
text-decoration:none;
}
.vis_3874154844{
font-size:18px;
font-weight:500;
text-decoration:none;
}
.vis_4060112500{
backdrop-filter:blur(3px);
text-decoration:none;
}
.vis_738904499{
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgb(0,0,0);
text-decoration:none;
}
.vis_4143872434{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_1466172412{
font-size:24px;
text-decoration:none;
}
.vis_4026586765{
cursor:pointer;
text-decoration:none;
}
.vis_846913500{
font-size:24px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_3319038623{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_958342801{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(225,225,225);
text-decoration:none;
}
.pos_2686566505{
position:fixed;
top:0px;
right:0%;
left:8%;
z-index:400;
}
.pos_2764679835{
position:fixed;
top:8%;
left:8%;
z-index:999;
}
.pos_2354560430{
position:fixed;
top:8%;
right:2%;
z-index:999;
}
.pos_4226863089{
position:fixed;
top:0px;
right:0px;
left:0px;
z-index:999;
}
.mapa_1451626367{
padding:0px 0px 0px 0px;
margin:0px 0px 0px -16px;
}
.mapa_4066845637{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_766915671{
padding:16px 8px 64px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3646923428{
padding:0px 0px 0px 0px;
margin:0px 0px 32px 0px;
}
.mapa_868563432{
padding:0px 0px 128px 0px;
margin:0px 0px 0px 0px;
}
.mapa_1029637290{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_843586635{
padding:10px 8px 10px 8px;
margin:0px 0px 0px 0px;
}
.mapa_1848794511{
padding:16px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_911696742{
padding:80px 0px 80px 0px;
margin:0px 0px 0px 0px;
}
.mapa_2213458730{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.intr_3436696024:hover{
color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_2738320283:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_1664040927:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
position:none;
}
