.big-heading{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-size:80px;
font-weight:900;
text-decoration:none;
white-space:pre;
}
.lay_lLCaU4{
width:30.00%;
height:fit-content;
}
.lay_tupWc4{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_Hi19x{
display:flex;
flex-direction:row;
}
.lay_0PfIN{
width:24.00px;
}
.lay_XKZ3J4{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_ysrHf4{
display:flex;
flex-direction:column;
gap:16px;
width:100.00%;
flex-shrink: 0;
height:50.00%;
flex-shrink: 0;
}
.lay_y6Bj44{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100.00%;
flex-shrink: 0;
}
.lay_9UxZ31{
display:flex;
flex-direction:column;
gap:32px;
width:65.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_O3nsY4{
width:100.00%;
height:100.00%;
}
.lay_TPZCf{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:92.00%;
flex-shrink: 0;
height:6.00%;
flex-shrink: 0;
}
.lay_tnlGg2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:30.00px;
flex-shrink: 0;
}
.lay_miGfi3{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
width:20.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_CuZRc3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
flex: 1;
min-height: 0;
overflow-y:scroll;
}
.lay_Mglrk2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:32px;
width:100.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_3eNOu2{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:70.00%;
flex-shrink: 0;
}
.lay_nbCSp1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
width:90.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
}
.lay_gUiP44{
width:80.00%;
height:100.00%;
}
.lay_cooI21{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:100.00%;
flex-shrink: 0;
}
.lay_AEgkh1{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
}
.lay_zwnXB4{
position: fixed; position-area: center right; }
.lay_1FR0s2{
display:flex;
flex-direction:row;
height:24.00px;
flex-shrink: 0;
}
.lay_Vau3J3{
width:30.00%;
height:30.00%;
}
.lay_YloGT{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
width:100.00%;
flex-shrink: 0;
}
.lay_bjyfY3{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:30.00%;
flex-shrink: 0;
}
.lay_DYNgF3{
display:flex;
flex-direction:column;
gap:8px;
width:100.00%;
flex-shrink: 0;
height:36.00px;
flex-shrink: 0;
}
.lay_u18wR1{
display:flex;
flex-direction:column;
gap:12px;
width:16.00%;
flex-shrink: 0;
height:40.00%;
flex-shrink: 0;
}
.lay_t5OKY{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lay_mFItj{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:12px;
width:70.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_xwUFk2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:20px;
width:100.00%;
flex-shrink: 0;
height:100.00px;
flex-shrink: 0;
}
.lay_eKM8U{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:100.00%;
flex-shrink: 0;
}
.lay_EHt132{
display:flex;
flex-direction:column;
gap:8px;
width:100.00%;
flex-shrink: 0;
height:95.00%;
flex-shrink: 0;
overflow-y:scroll;
}
.lay_iARWb4{
display:flex;
flex-direction:row;
width:40.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_dAbxQ1{
width:24.00px;
height:24.00px;
}
.lay_7xX964{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:22.50px;
flex-shrink: 0;
}
.lay_b6Qkb1{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_OItM4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
overflow-x:hidden;
overflow-y:hidden;
}
.lay_ISYI41{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:50.00%;
flex-shrink: 0;
flex-wrap:wrap;
}
.lay_7YcO92{
width:10.00%;
}
.lay_aCUcW1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:90.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_6nk54{
display:flex;
flex-direction:column;
gap:4px;
width:100.00%;
flex-shrink: 0;
}
.lay_Ohp1Q4{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:70.00%;
flex-shrink: 0;
height:38.00px;
flex-shrink: 0;
}
.lay_vSb0O4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_R6lHk2{
width:14.00px;
height:14.00px;
}
.lay_nVKK41{
text-align:center;
}
.lay_AqL0P{
display:flex;
flex-direction:column;
gap:24px;
width:fit-content;
flex-shrink: 0;
height:50.00%;
flex-shrink: 0;
}
.lay_E37W34{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:60px;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_1p3PL{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_sRkjz{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_Y1qMH{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:45.00px;
flex-shrink: 0;
}
.lay_ZLzjJ3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_0opRR{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42.00px;
flex-shrink: 0;
height:42.00px;
flex-shrink: 0;
}
.lay_WLTVy{
width:100.00%;
height:fit-content;
}
.lay_Vda903{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42.00px;
flex-shrink: 0;
}
.lay_Hup4Y4{
display:flex;
flex-direction:row;
gap:16px;
width:100.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
flex-wrap:wrap;
}
.lay_0kfPX3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:160.00px;
flex-shrink: 0;
height:45.00px;
flex-shrink: 0;
}
.lay_iMAeu2{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:55.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
}
.lay_4AGZ63{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:80.00%;
flex-shrink: 0;
}
.lay_rbjI51{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:64px;
width:30.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_E4Atf3{
width:100.00%;
height:72.00px;
}
.lay_I9Bne2{
width:64.00px;
height:28.00px;
}
.lay_AAqfn3{
width:100.00%;
height:fit-content;
}
.lay_fEOfp3{
display:flex;
flex-direction:row;
gap:16px;
}
.lay_NgkTA1{
display:flex;
flex-direction:row;
width:14.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_ssavY2{
display:flex;
flex-direction:column;
gap:24px;
width:70.00%;
flex-shrink: 0;
}
.lay_2TkWG4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
}
.lay_PpBtv1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}
.lay_q8Ajr{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:fit-content;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_ph40P4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100.00%;
flex-shrink: 0;
}
.lay_erITT4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:80.00%;
flex-shrink: 0;
}
.lay_8tZzX{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:4px;
width:100.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
}
.lay_HJ8Qx1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex: 1;
min-width: 0;
height:60.00px;
flex-shrink: 0;
}
.lay_R1pCS4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50.00px;
flex-shrink: 0;
}
.lay_9Ziqe3{
width:16.00px;
height:16.00px;
}
.lay_bF7Gt{
display:flex;
flex-direction:row;
width:20.00px;
flex-shrink: 0;
height:20.00px;
flex-shrink: 0;
}
.lay_Sxijj3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:30.00%;
flex-shrink: 0;
}
.lay_x8Wxq3{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:22.50px;
flex-shrink: 0;
}
.lay_OMUM52{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:50.00%;
flex-shrink: 0;
height:38.00px;
flex-shrink: 0;
}
.lay_si41X3{
display:flex;
flex-direction:column;
gap:12px;
width:100.00%;
flex-shrink: 0;
height:95.00%;
flex-shrink: 0;
overflow-y:scroll;
}
.lay_mAyNI3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:8px;
width:100.00%;
flex-shrink: 0;
}
.lay_5cJga3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:22.00px;
flex-shrink: 0;
height:22.00px;
flex-shrink: 0;
}
.lay_1I8dE4{
}
.lay_aihS1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-end;
}
.lay_zjLTC{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_R9QM34{
display:flex;
flex-direction:column;
width:40.00%;
flex-shrink: 0;
}
.lay_Y8gej1{
text-align:center;
}
.lay_ESCZW4{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:24px;
width:40.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_SVI894{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:16px;
width:100.00%;
flex-shrink: 0;
height:90.00%;
flex-shrink: 0;
}
.lay_PUouQ4{
display:flex;
flex-direction:column;
align-items:flex-end;
justify-content:flex-end;
}
.lay_3G8jO{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:100.00%;
flex-shrink: 0;
}
.lay_se1MG1{
width:100.00%;
height:100.00%;
aspect-ratio:16 / 9;
}
.lay_DgBhg2{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
height:6.00%;
flex-shrink: 0;
}
.lay_jX9UM4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:38.00px;
flex-shrink: 0;
}
.lay_iU2WM3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80.00%;
flex-shrink: 0;
}
.lay_R5ALt2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:72px;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_wOFdh2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:40.00%;
flex-shrink: 0;
height:80.00%;
flex-shrink: 0;
}
.lay_MNY7F{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:flex-start;
width:100.00%;
flex-shrink: 0;
flex: 1;
min-height: 0;
}
.lay_DLEtj3{
display:flex;
flex-direction:column;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_5Ak3v{
display:flex;
flex-direction:column;
width:14.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_SysBY1{
text-align:center;
flex: 1;
min-width: 0;
}
.lay_rRxTK2{
width:100.00%;
}
.lay_hh84l3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_zYPfk{
display:flex;
flex-direction:row;
gap:16px;
width:100.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
flex-wrap:wrap;
}
.lay_C7CDC1{
}
.lay_UoiWZ1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
overflow-x:scroll;
}
.lay_QIebU3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:4px;
width:auto;
flex-shrink: 0;
height:auto;
flex-shrink: 0;
}
.lay_G9KwU2{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.lay_cZlGU1{
display:flex;
flex-direction:row;
height:16.00px;
flex-shrink: 0;
}
.lay_FAOoZ{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
}
.lay_hZvYa2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
width:100.00%;
flex-shrink: 0;
}
.lay_hhXQ03{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:56.00px;
flex-shrink: 0;
height:56.00px;
flex-shrink: 0;
}
.lay_MgW1C1{
width:100.00%;
height:36.00px;
}
.lay_7u3d2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:24px;
width:30.00%;
flex-shrink: 0;
}
.lay_frQSK2{
text-align:center;
width:40.00%;
}
.lay_DH5a02{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
height:100.00%;
flex-shrink: 0;
}
.lay_rhxj12{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:60.00%;
flex-shrink: 0;
height:60.00%;
flex-shrink: 0;
}
.lay_rjXnF3{
width:48.00px;
height:48.00px;
}
.lay_oZRw14{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-end;
width:100.00%;
flex-shrink: 0;
height:10.00%;
flex-shrink: 0;
}
.lay_D638B4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:100.00%;
flex-shrink: 0;
}
.vis_dv5rq3{
font-size:16px;
text-decoration:none;
}
.vis_aUj9Y2{
border-width:0px 0px 1px 0px;
border-color:rgb(255,255,255);
border-style: solid;
text-decoration:none;
}
.vis_Vv8N8{
font-size:12px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_ZJbZA4{
background-color:rgb(var(--border_color_light));
border-width:0px 0px 0px 0px;
border-radius:18px;
border-style: solid;
text-decoration:none;
}
.vis_7x3TY2{
background-color:rgb(var(--alternate_background));
border-width:1px 1px 1px 1px;
border-color:rgb(var(--text_tint_color));
border-style: solid;
color:rgb(255,255,255);
text-decoration:none;
transition:100ms ease;
}
.vis_29zhJ1{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(225,225,225);
border-style: solid;
text-decoration:none;
}
.vis_ym9aJ{
border-width:0px 0px 0px 1px;
border-color:rgb(0,0,0);
border-style: solid;
text-decoration:none;
}
.vis_Soyn21{
font-size:20px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_2InYE3{
font-size:18px;
font-weight:700;
text-decoration:none;
}
.vis_KAUjC3{
background-color:rgba(var(--tint), 0.10);
background-image:radial-gradient(circle, rgba(var(--tint), 0.30) 0.5px, transparent 0px);
background-size: 6px 6px;
background-position: center center;
border-width:0px 0px 0px 1px;
border-color:rgb(var(--tint));
border-style: solid;
text-decoration:none;
}
.vis_YSCqi3{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_string_color));
text-decoration:none;
}
.vis_qznb92{
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:0px 0px 0px 0px;
border-radius:4px;
border-style: solid;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_PHCuG4{
border-width:1px 0px 0px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_nQ8Z24{
font-size:32px;
font-weight:700;
text-decoration:none;
}
.vis_c4MuU2{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_cnrhI2{
background-color:rgba(0,0,0,0.00);
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:0px 0px 0px 0px;
border-style: solid;
color:rgb(var(--text_color));
outline:none;
text-decoration:none;
}
.vis_GORZo1{
color:rgb(var(--tint));
text-decoration:none;
}
.vis_1Elb1{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
}
.vis_mfMw54{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_3Xr8a{
background-color:rgb(40,40,40);
border-width:1px 1px 1px 1px;
border-color:rgb(56,55,53);
border-radius:6px;
border-style: solid;
text-decoration:none;
}
.vis_2qYM32{
font-size:18px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_b7s5u{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:12px;
border-style: solid;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0.00);
text-decoration:none;
}
.vis_J2Gak3{
font-family:IBM Plex Mono,monospace;
text-decoration:none;
}
.vis_Iyp5D1{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_text_color));
text-decoration:none;
}
.vis_o5jIz{
font-size:18px;
font-weight:100;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_3ySDU{
background-color:rgb(var(--background));
text-decoration:none;
}
.vis_OTG3T2{
list-style:none;
text-decoration:none;
}
.vis_RUVu73{
background-image:radial-gradient(circle, rgb(var(--border_color)) 0.5px, transparent 0px);
background-size: 16px 16px;
background-position: center center;
border-width:1px 0px 1px 0px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_dRaNB{
font-size:18px;
font-weight:700;
color:rgba(var(--text_color), 0.60);
text-decoration:none;
}
.vis_R8hZs2{
font-size:64px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_peGin1{
fill:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_aqsHo{
background-color:rgba(var(--alternate_background), 0.90);
cursor:pointer;
font-size:16px;
font-family:IBM Plex Sans,monospace;
border-width:1px 1px 1px 1px;
border-color:rgba(var(--alternate_background), 0.50);
border-radius:4px;
border-style: solid;
color:rgb(255,255,255);
box-shadow:inset 0px -2px 0px rgba(var(--alternate_background), 0.50),0px 1px 3px rgba(var(--alternate_background), 0.10);text-decoration:none;
transition:100ms ease;
}
.vis_S4V8t3{
font-size:80px;
font-weight:900;
font-style:italic;
color:rgb(var(--tint));
text-decoration:none;
white-space:pre;
animation:text-glitch-chromatic 100ms linear normal  3;
}
.vis_lacXI2{
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_sQLJ4{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_function_color));
text-decoration:none;
}
.vis_jdJWy{
background-color:rgba(0,0,0,0.00);
border-width:0px 0px 0px 0px;
text-decoration:none;
}
.vis_oA1rP4{
background-color:rgb(var(--background));
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:8px;
border-style: solid;
color:rgb(var(--text_color));
outline:none;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0.00);
text-decoration:none;
resize:none;
}
.vis_Jazea4{
font-size:14px;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_ZSd6D4{
background-color:rgb(17,17,16);
border-width:0px 0px 0px 0px;
border-radius:10px;
border-style: solid;
text-decoration:none;
}
.vis_0HJEc2{
background-color:rgba(0,0,0,0.00);
text-decoration:none;
}
.vis_IHwsw2{
fill:rgb(var(--text_color));
text-decoration:none;
}
.vis_yZL6I3{
background-color:rgb(255,255,255);
background-image:radial-gradient(circle, rgba(0,0,0,0.30) 0.5px, transparent 0px);
background-size: 6px 6px;
background-position: center center;
border-width:0px 0px 0px 0px;
border-radius:4px;
border-style: solid;
box-shadow:0px 2px 2px 0px rgba(0,0,0,0.10);
text-decoration:none;
transition:transform 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19), background_color 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.vis_QzohF1{
font-size:20px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_OfNZd{
stroke:rgb(var(--tint));
text-decoration:none;
}
.vis_yRveh2{
font-size:72px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4g32b1{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_SFeZi3{
background-image:linear-gradient(90deg, rgb(0,0,0) 1px, rgba(0,0,0,0.00) 1px),linear-gradient(180deg, rgb(0,0,0) 1px, rgba(0,0,0,0.00) 1px), 
linear-gradient(145.00deg, rgb(13,13,13), rgb(13,13,13), rgb(26,26,26), rgb(10,10,10));
background-clip: border-box, border-box;
background-size: 14px 14px, 14px 14px, 
background-size: 100% 100%;
background-position: center center;
border-width:1px 0px 0px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_MB5122{
color:rgb(33,33,33);
text-decoration:none;
}
.vis_ztHs01{
font-size:18px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_fxcWt3{
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4lhaz3{
font-size:14px;
font-family:DM Mono, monospace;
font-weight:600;
color:rgb(var(--disabled));
text-decoration:none;
}
.vis_1xP0V1{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_tint_color));
text-decoration:none;
}
.vis_ml8qd3{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
text-decoration:none;
transition:100ms ease;
}
.vis_1KwHU3{
backdrop-filter:blur(3px);
text-decoration:none;
}
.vis_Q6i553{
background-color:rgba(0,0,0,0.00);
background-image:radial-gradient(circle, rgb(var(--text_color)) 0.5px, transparent 0px);
background-size: 8px 8px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--text_color));
border-style: solid;
box-shadow:4px 4px 0px 0px rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_p9DdO3{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
color:rgb(var(--text_color));
box-shadow:4px 4px 0px 0px rgb(var(--tint));
text-decoration:none;
}
.vis_kigpg2{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_VCuhC3{
border-width:0px 0px 1px 0px;
border-color:rgba(0,0,0,0.00);
border-style: solid;
list-style:none;
text-decoration:none;
}
.vis_nCsQm2{
font-size:18px;
font-weight:500;
text-decoration:none;
}
.vis_coulE{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(var(--code_comment_color));
text-decoration:none;
}
.vis_dK5H3{
border-width:0px 0px 0px 0px;
border-radius:10px;
border-style: solid;
text-decoration:none;
}
.vis_N2MxU{
fill:rgb(255,255,255);
color:rgb(255,255,255);
text-decoration:none;
}
.vis_oEx991{
font-size:20px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_WjO2o2{
font-size:16px;
text-decoration:none;
transition:100ms ease;
}
.vis_cZFLN4{
border-width:0px 0px 0px 1px;
border-color:rgb(var(--border_color));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_3i5Ws{
font-size:36px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_ADgKV{
font-size:16px;
font-weight:300;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_a9U8m2{
font-size:14px;
font-family:Geist Mono, monospace;
font-weight:300;
font-style:italic;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_vLMmm1{
font-size:14px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_ViL754{
font-size:16px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_MKOzq3{
background-color:rgb(var(--border_color_light));
cursor:pointer;
border-width:0px 0px 0px 0px;
border-radius:4px;
border-style: solid;
text-decoration:none;
transition:background_color 100ms ease-in-out;
}
.vis_AMedi3{
font-size:16px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-family:Azeret Mono, monospace;
text-decoration:none;
}
.vis_NhpTT3{
font-size:12px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_8Odp2{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_1z6Y5{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:12px;
border-style: solid;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0.00);
text-decoration:none;
}
.vis_X6gDk{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_ngXpV{
text-decoration:none;
}
.vis_3LBcz1{
font-size:18px;
font-weight:300;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_iPqGI{
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_nMgj{
background-color:rgb(var(--background));
cursor:pointer;
font-size:22px;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_crCye4{
font-size:20px;
font-weight:500;
text-decoration:none;
}
.vis_RGZTP{
text-decoration:none;
}
.vis_PH9CD3{
font-size:16px;
font-weight:400;
text-decoration:none;
}
.vis_zrABW3{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:0px 0px 0px 0px;
text-decoration:none;
}
.vis_jRsGW3{
background-color:rgba(0,0,0,0.00);
border-width:0px 0px 0px 1px;
border-color:rgba(0,0,0,0.00);
border-style: solid;
text-decoration:none;
}
.vis_U1xdq1{
border-width:0px 0px 0px 0px;
border-radius:5px;
border-style: solid;
text-decoration:none;
}
.vis_PVgpR1{
font-size:32px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_oe2Kj2{
border-width:1px 0px 1px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_VJ1T61{
font-size:15px;
font-family:DM Mono, monospace;
font-weight:400;
color:rgb(130,170,255);
text-decoration:none;
}
.vis_23UyM{
background-color:rgb(var(--background));
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgba(var(--text_color), 0.50);
text-decoration:none;
transition:transform 100ms ease-in-out, left 100ms ease-in-out;
}
.vis_WMrqp1{
font-size:72px;
font-family:IBM Plex Mono,monospace;
font-weight:700;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_LthEs1{
color:rgb(255,255,255);
text-decoration:none;
}
.vis_DEqsL2{
font-size:18px;
font-weight:300;
color:rgba(111,111,111,0.40);
text-decoration:none;
}
.vis_cnK6Z3{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_HQpiU1{
font-size:16px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_SW2GF4{
font-size:16px;
font-family:Montserrat, sans-serif;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_yDIxe4{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-color:rgb(var(--alternate_border_color));
border-style: solid;
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_AhR7K3{
border-width:0px 0px 1px 0px;
border-color:rgb(228,228,228);
border-style: solid;
text-decoration:none;
}
.vis_Oaenf4{
font-family:DM Mono, monospace;
text-decoration:none;
white-space:pre;
}
.vis_CLxLk2{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_xo8Tw2{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0.00) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
border-width:1px 0px 0px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_fPPE04{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_9SR5C2{
font-size:18px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_jjYET4{
fill:rgb(var(--icon_color));
text-decoration:none;
}
.vis_RkQu44{
font-size:18px;
text-decoration:none;
}
.pos_wWbi44{
position:absolute;
bottom:5.00%;
left:20.00%;
}
.pos_DPkrs2{
position:relative;
z-index:10;
}
.pos_Q1Qi11{
position:absolute;
top:-56.00px;
left:-1.00px;
}
.pos_kjV4I1{
position:absolute;
left:12.00px;
}
.pos_tWhKd2{
position:absolute;
top:1.00%;
left:1.00%;
}
.pos_o4X4v{
position:absolute;
bottom:-56.00px;
left:308.00px;
}
.pos_ZWgxd4{
position:absolute;
top:0.00px;
left:0.00%;
z-index:1000;
}
.pos_WhgdP2{
position:absolute;
top:392.00px;
right:-56.00px;
}
.pos_e8wtf3{
}
.pos_LstSE1{
position:absolute;
right:0.00%;
bottom:0.00%;
}
.pos_cre8F3{
position-anchor:--Flex_4YdjF4-gk;
z-index:1000;
}
.pos_bITd33{
position:fixed;
top:0.00px;
right:0.00%;
left:8.00%;
z-index:400;
}
.pos_ZPBFR3{
position:absolute;
right:1.00%;
bottom:-60.00px;
}
.pos_t0s233{
position:relative;
}
.pos_mKRCe{
position:fixed;
top:8.00%;
right:2.00%;
z-index:999;
}
.pos_rXZzd{
position:absolute;
top:-4.00%;
right:0.00%;
}
.pos_SdsMW2{
position:fixed;
top:0.00px;
right:0.00px;
left:0.00px;
z-index:999;
}
.pos_h7ld4{
position:absolute;
}
.pos_LpN9l3{
position:absolute;
top:10.00%;
right:20.00%;
}
.pos_FEjf82{
position:fixed;
top:8.00%;
left:8.00%;
z-index:999;
}
.pos_OnY5E4{
position:absolute;
bottom:-4.00%;
left:36.00%;
}
.pos_QjPnQ4{
anchor-name:--Flex_4YdjF4-gk;
}
.mapa_sgnwh{
padding:0px 2px 0px 2px;
margin:0px 0px 0px 0px;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_Ty9Wh2{
padding:8px 0px 8px 0px;
margin:0px 0px 0px 0px;
}
.mapa_obiMi2{
padding:0px 50px 0px 50px;
margin:0px 0px 0px 0px;
}
.mapa_Fls5t{
padding:12px 12px 12px 12px;
margin:0px 0px 0px 0px;
}
.mapa_320yE1{
padding:64px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_LsvRW3{
padding:0px 0px 0px 0px;
margin:12px 0px 0px 0px;
}
.mapa_V8jPI3{
padding:0px 0px 0px 0px;
margin:64px 0px 0px 0px;
}
.mapa_GjRnP2{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_WshOF{
padding:0px 12px 0px 12px;
margin:0px 0px 32px 0px;
}
.mapa_G9G2i{
padding:0px 0px 0px 0px;
margin:64px 0px 64px 0px;
}
.mapa_oqVwJ1{
padding:1px 1px 1px 1px;
margin:0px 0px 0px 0px;
}
.mapa_cLPMR{
padding:16px 8px 16px 8px;
margin:0px 0px 0px 0px;
}
.mapa_JuL712{
padding:16px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_Gr8yX{
padding:36px 0px 36px 0px;
margin:0px 0px 0px 0px;
}
.mapa_JaSnZ4{
padding:4px 8px 4px 8px;
margin:32px 0px 0px 0px;
}
.mapa_t79Oh3{
padding:0px 0px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_rPfvm1{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_CfvRs{
padding:52px 52px 52px 52px;
margin:0px 0px 0px 0px;
}
.mapa_9SPU2{
padding:0px 0px 0px 0px;
margin:24px 0px 0px 0px;
}
.mapa_x8DNe2{
padding:12px 0px 12px 0px;
margin:0px 0px 0px 0px;
}
.mapa_RM5YV3{
padding:0px 8px 0px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3GodU4{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_QGYQT3{
padding:0px 0px 0px 16px;
margin:0px 0px 0px 0px;
}
.mapa_TK4ER4{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_bnttp{
padding:16px 8px 64px 8px;
margin:0px 0px 0px 0px;
}
.mapa_4hFg71{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3Qb5v{
padding:10px 8px 10px 8px;
margin:0px 0px 0px 0px;
}
.mapa_jigL04{
padding:0px 24px 0px 24px;
margin:0px 0px 0px 0px;
}
.intr_sd0OQ4:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:translateY(-4px) scale(1.049804) ;
}
.intr_qbXsC:hover{
background-color:rgb(var(--tint));
color:rgb(var(--background));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:scale(1.040039) ;
}
.intr_JHvpc4:hover{
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.00),0px 1px 3px rgba(0,0,0,0.00);text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_lEVDF:hover{
text-decoration:underline;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_JHbNc:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:translateY(4px) scale(1.049804) ;
}
.intr_ZyucX:hover{
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:scale(1.040039) ;
}
.intr_st4A8:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
transform:translateX(4px) scale(1.049804) ;
}
.intr_HDHy72:hover{
background-color:rgba(var(--tint), 0.10);
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_nzdbL4:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_HeHdO3:hover{
border-width:0px 0px 1px 0px;
border-color:rgb(var(--text_color));
border-style: solid;
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_U7b0M2:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_52yYU4:hover{
color:rgb(111,111,111);
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_J66Oe:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-radius:12px;
border-style: solid;
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_t723d3:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_0MyT64:hover{
fill:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_PAoS83:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-style: solid;
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
.intr_sN9sA4:hover{
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Sans;
position-anchor:--IBM Plex Sans;
}
