.big-heading{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
font-size:80px;
font-weight:900;
text-decoration:none;
}
.lay_x4rOR3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
height:100%;
}
.lay_3TLYe1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:70%;
height:38px;
}
.lay_mLDP7{
display:flex;
flex-direction:row;
height:16px;
}
.lay_WuwLv3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-end;
width:100%;
height:10%;
}
.lay_vtJG3{
text-align:center;
width:100%;
}
.lay_5BnP5{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:60px;
width:100%;
height:100%;
}
.lay_UxqMt1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:12px;
}
.lay_yj4Je3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:24px;
width:40%;
height:60%;
}
.lay_rvVpr2{
width:30%;
height:fit-content;
}
.lay_2TkWG4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
}
.lay_tupWc4{
display:flex;
flex-direction:row;
width:100%;
height:100%;
}
.lay_ysrHf4{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
height:50%;
}
.lay_Gw8Y82{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
width:100%;
}
.lay_1wHVY1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
}
.lay_nn0Q93{
display:flex;
flex-direction:column;
align-items:flex-end;
justify-content:flex-end;
}
.lay_ygm0M{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:32px;
width:100%;
height:60%;
}
.lay_toMCN4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:100%;
height:fit-content;
}
.lay_dkXDo{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50px;
}
.lay_ph40P4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100%;
}
.lay_erITT4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:80%;
}
.lay_f0VMy{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:36px;
}
.lay_9pnfr2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:38px;
}
.lay_ZIMNZ2{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex: 1;
height:60px;
}
.lay_sxkaC{
display:flex;
flex-direction:row;
width:20px;
height:20px;
}
.lay_Zxl4O4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:22.5px;
}
.lay_gUiP44{
width:80%;
height:100%;
}
.lay_u6tpY1{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:100%;
}
.lay_RnK9f1{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.lay_L3xIB2{
display:flex;
flex-direction:column;
gap:24px;
width:fit-content;
height:50%;
}
.lay_1EjZF4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:auto;
height:30px;
}
.lay_Sxijj3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:30%;
}
.lay_dQbOB4{
width:100%;
height:32px;
}
.lay_cbDM94{
display:flex;
flex-direction:column;
gap:12px;
width:16%;
height:40%;
}
.lay_CQSaD{
width:100%;
}
.lay_UyiE81{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:12px;
width:70%;
height:60%;
}
.lay_bjyfY3{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:30%;
}
.lay_LVrlx{
display:flex;
flex-direction:column;
gap:4px;
width:100%;
}
.lay_eVZ0F1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-end;
}
.lay_sbN0Q{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
overflow-x:hidden;
overflow-y:hidden;
}
.lay_Fs54f2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42px;
}
.lay_mAyNI3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:8px;
width:100%;
}
.lay_kSFpR4{
width:100%;
height:100%;
}
.lay_1I8dE4{
}
.lay_t5OKY{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lay_I5plQ{
width:24px;
height:24px;
}
.lay_xwUFk2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:20px;
width:100%;
height:100px;
}
.lay_OCKoZ4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:16px;
width:100%;
height:90%;
}
.lay_RKnBh1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:60%;
}
.lay_MqIUB1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:70%;
}
.lay_R9QM34{
display:flex;
flex-direction:column;
width:40%;
}
.lay_ZCPsJ{
text-align:center;
width:40%;
}
.lay_xR4q44{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:32px;
width:100%;
height:90%;
}
.lay_v1GH02{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80%;
height:100%;
}
.lay_s7yXu3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40%;
height:100%;
}
.lay_b6Qkb1{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_erQL6{
width:64px;
height:28px;
}
.lay_3G8jO{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:100%;
}
.lay_OcuwW3{
width:24px;
}
.lay_gYPNe2{
display:flex;
flex-direction:column;
width:60%;
height:60%;
}
.lay_Ga8f01{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
overflow-y:scroll;
}
.lay_iU2WM3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80%;
}
.lay_NiBgP{
display:flex;
flex-direction:row;
width:40%;
height:60%;
overflow-y:scroll;
}
.lay_WfrqP4{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:4px;
width:auto;
height:auto;
}
.lay_nVKK41{
text-align:center;
}
.lay_OVZ2I3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}
.lay_cC6BZ2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_OH75R4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40%;
height:100%;
overflow-y:scroll;
}
.lay_ViUV22{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
height:fit-content;
}
.lay_Vknxi1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
}
.lay_sRkjz{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_QYz1d2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:64px;
width:100%;
height:100%;
}
.lay_hZvYa2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
width:100%;
}
.lay_O2QQV3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:45px;
}
.lay_hhXQ03{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:56px;
height:56px;
}
.lay_MCJgV2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:160px;
height:45px;
}
.lay_JGwEC2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40%;
height:fit-content;
}
.lay_Hup4Y4{
display:flex;
flex-direction:row;
gap:16px;
width:100%;
height:fit-content;
flex-wrap:wrap;
}
.lay_P51e61{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:40%;
height:100%;
}
.lay_ZlFHe2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:24px;
width:30%;
}
.lay_H7iHV3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
height:100%;
overflow-x:scroll;
}
.lay_xpK9o3{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:50%;
flex-wrap:wrap;
}
.vis_KAkby{
font-size:14px;
font-family:DM Mono, monospace;
font-weight:600;
color:rgb(var(--disabled));
text-decoration:none;
}
.vis_ue3kS{
color:rgb(255,255,255);
text-decoration:none;
}
.vis_dllNQ4{
background-color:rgb(var(--alternate_background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_tint_color));
color:rgb(255,255,255);
text-decoration:none;
transition:100ms ease;
}
.vis_n390b3{
background-color:rgb(var(--background));
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgba(var(--text_color), 0.5);
text-decoration:none;
transition:transform 100ms ease-in-out, left 100ms ease-in-out;
}
.vis_3SOxb4{
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:4px;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_bWzoE4{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_r8XSQ{
font-size:15px;
font-weight:400;
color:rgb(var(--code_comment_color));
text-decoration:none;
}
.vis_N6lXh2{
background-color:rgb(255,255,255);
background-image:radial-gradient(circle, rgba(0,0,0,0.3) 0.5px, transparent 0px);
background-size: 6px 6px;
background-position: center center;
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:4px;
box-shadow:0px 2px 2px 0px rgba(0,0,0,0.1);
text-decoration:none;
transition:transform 150ms cubic-bezier(0.55, 0.055, 0.675, 0.19), background_color 150ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.vis_qF4SC{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
}
.vis_aqVpO4{
text-decoration:none;
}
.vis_UQRjP2{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_iJdGP3{
font-size:36px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_YnVRs{
font-size:72px;
font-family:IBM Plex Mono,monospace;
font-weight:700;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_6zHKd4{
font-size:20px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_6dPWU1{
fill:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_ITHmV2{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(228,228,228);
text-decoration:none;
}
.vis_2D6S5{
fill:rgb(255,255,255);
color:rgb(255,255,255);
text-decoration:none;
}
.vis_t7Mhm{
font-size:16px;
text-decoration:none;
}
.vis_aqPMn{
font-size:15px;
font-weight:400;
color:rgb(var(--code_function_color));
text-decoration:none;
}
.vis_jBqoB2{
background-color:rgba(var(--alternate_background), 0.9);
cursor:pointer;
font-size:16px;
font-family:IBM Plex Sans,monospace;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(var(--alternate_background), 0.5);
border-radius:4px;
color:rgb(255,255,255);
box-shadow:inset 0px -2px 0px 0px rgba(var(--alternate_background), 0.5),0px 1px 3px 0px rgba(var(--alternate_background), 0.1);text-decoration:none;
transition:100ms ease;
}
.vis_6UcPA{
font-size:18px;
text-decoration:none;
}
.vis_6vxRg3{
font-size:72px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_hS77q{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0);
text-decoration:none;
}
.vis_sHqXl2{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_CGJNE3{
background-color:rgba(0,0,0,0);
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_aaXk92{
border-width:1px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_EQXTI4{
text-decoration:none;
}
.vis_LMp3p2{
font-family:DM Mono, monospace;
text-decoration:none;
white-space:pre;
}
.vis_lZfOK{
font-size:15px;
font-weight:400;
color:rgb(var(--code_string_color));
text-decoration:none;
}
.vis_HGU3m{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_TIsJ74{
border-width:1px 0px 0px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_eJfG32{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_sNQbO1{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_McaJK4{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
text-decoration:none;
}
.vis_79EnH2{
background-color:rgba(0,0,0,0);
font-size:14px;
font-family:Montserrat;
font-weight:300;
border-width:0px 0px 0px 0px;
border-style: solid;
color:rgb(var(--text_color));
outline:none;
text-decoration:none;
}
.vis_W8eCU{
font-size:14px;
font-family:Montserrat;
font-weight:300;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_GHbms{
font-size:64px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_KpuSg1{
font-size:32px;
font-weight:700;
text-decoration:none;
}
.vis_0xuro{
font-size:12px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_yS0mN3{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgba(0,0,0,0);
list-style:none;
text-decoration:none;
}
.vis_811NS2{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(225,225,225);
text-decoration:none;
}
.vis_S1KQS3{
background-color:rgb(var(--background));
cursor:pointer;
font-size:22px;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_x27uY3{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
}
.vis_hRy0B4{
font-size:18px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_HSxbE4{
font-size:20px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_cc5vP4{
font-size:18px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_um3re4{
background-color:rgba(var(--alternate_background), 0.9);
cursor:pointer;
font-size:16px;
font-family:IBM Plex Sans,monospace;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(var(--alternate_background), 0.5);
border-radius:4px;
color:rgb(255,255,255);
box-shadow:inset 0px -2px 0px 0px rgba(var(--alternate_background), 0.5),0px 1px 3px 0px rgba(var(--alternate_background), 0.1);text-decoration:none;
transition:100ms ease;
}
.vis_RYlUR1{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--alternate_border_color));
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_UxEEd{
font-size:28px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_20zuw2{
font-family:IBM Plex Mono,monospace;
text-decoration:none;
}
.vis_YFHct3{
font-size:18px;
font-weight:700;
color:rgba(var(--text_color), 0.6);
text-decoration:none;
}
.vis_fLEVj{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_rRLyg{
font-size:14px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_RBXKn2{
list-style:circle;
text-decoration:none;
}
.vis_CSqZh3{
font-size:15px;
font-weight:400;
color:rgb(var(--code_tint_color));
text-decoration:none;
}
.vis_nhPHj3{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:12px;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0);
text-decoration:none;
}
.vis_5wq881{
background-color:rgb(var(--border_color_light));
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:4px;
text-decoration:none;
transition:background_color 150ms ease-in-out;
}
.vis_McKlx1{
font-size:20px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_UD1y83{
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgb(var(--border_color));
border-radius:0px;
text-decoration:none;
}
.vis_R9PIK3{
font-size:18px;
font-weight:100;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_iUiFe{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_4Kz5o2{
font-size:15px;
font-weight:400;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_sSseb1{
font-size:16px;
font-weight:400;
text-decoration:none;
}
.vis_Dwb864{
border-width:0px 0px 0px 0px;
border-style: solid;
border-radius:5px;
text-decoration:none;
}
.vis_SEKLW4{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
border-width:1px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
border-radius:0px;
text-decoration:none;
}
.vis_RpEbQ1{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
}
.vis_WtnMi{
fill:rgb(var(--icon_color));
text-decoration:none;
}
.vis_CNTQA2{
font-size:12px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_m2fGV{
font-size:15px;
font-weight:400;
color:rgb(43,172,204);
text-decoration:none;
}
.vis_jGSfs3{
font-size:84px;
font-weight:900;
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--text_color));
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_r8SdV4{
background-image:linear-gradient(90deg, rgb(0,0,0) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(0,0,0) 1px, rgba(0,0,0,0) 1px), 
linear-gradient(145deg, rgb(13,13,13), rgb(13,13,13), rgb(26,26,26), rgb(10,10,10));
background-size: 14px 14px, 14px 14px, 
background-size: 100% 100%;
background-position: center center;
border-width:1px 0px 0px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_qqr2{
background-color:rgba(0,0,0,0);
background-image:radial-gradient(circle, rgb(var(--text_color)) 0.5px, transparent 0px);
background-size: 8px 8px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
box-shadow:4px 4px 0px 0px rgb(var(--text_color));
text-decoration:none;
transition:100ms ease;
}
.vis_LqV6W{
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_Qd8JY3{
font-size:14px;
color:rgb(255,255,255);
text-decoration:none;
}
.pos_McpnX1{
}
.pos_PDgO1{
position:relative;
z-index:10;
}
.pos_BxIRU2{
position:absolute;
right:0%;
bottom:0%;
}
.pos_XUjjH{
position:absolute;
top:-56px;
left:-1px;
}
.pos_xbM9w3{
position:absolute;
top:392px;
right:-56px;
}
.pos_oIiFP3{
position:absolute;
bottom:-56px;
left:308px;
}
.pos_epne32{
position:absolute;
top:-4%;
right:0%;
}
.pos_S2x4N2{
position:absolute;
bottom:-4%;
left:32%;
}
.pos_Ch7rg3{
position:relative;
}
.pos_KiAVN{
position:absolute;
left:12px;
}
.pos_AJROP{
position:absolute;
right:1%;
bottom:-60px;
}
.pos_jNmue{
position:absolute;
top:1%;
left:1%;
}
.pos_hN2RC1{
position:fixed;
top:0px;
right:0px;
left:0px;
z-index:999;
}
.pos_fFhoX3{
position:absolute;
}
.mapa_sgnwh{
padding:0px 2px 0px 2px;
margin:0px 0px 0px 0px;
}
.mapa_JaSnZ4{
padding:4px 8px 4px 8px;
margin:32px 0px 0px 0px;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_t79Oh3{
padding:0px 0px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_rPfvm1{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_Fls5t{
padding:12px 12px 12px 12px;
margin:0px 0px 0px 0px;
}
.mapa_obiMi2{
padding:0px 50px 0px 50px;
margin:0px 0px 0px 0px;
}
.mapa_Ty9Wh2{
padding:8px 0px 8px 0px;
margin:0px 0px 0px 0px;
}
.mapa_320yE1{
padding:64px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_MG7pt1{
padding:20px 20px 20px 20px;
margin:0px 0px 0px 0px;
}
.mapa_LsvRW3{
padding:0px 0px 0px 0px;
margin:12px 0px 0px 0px;
}
.mapa_V8jPI3{
padding:0px 0px 0px 0px;
margin:64px 0px 0px 0px;
}
.mapa_GjRnP2{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_9SPU2{
padding:0px 0px 0px 0px;
margin:24px 0px 0px 0px;
}
.mapa_RM5YV3{
padding:0px 8px 0px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3GodU4{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_x8DNe2{
padding:12px 0px 12px 0px;
margin:0px 0px 0px 0px;
}
.mapa_QGYQT3{
padding:0px 0px 0px 16px;
margin:0px 0px 0px 0px;
}
.mapa_TK4ER4{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_G9G2i{
padding:0px 0px 0px 0px;
margin:64px 0px 64px 0px;
}
.mapa_oqVwJ1{
padding:1px 1px 1px 1px;
margin:0px 0px 0px 0px;
}
.mapa_4hFg71{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_jigL04{
padding:0px 24px 0px 24px;
margin:0px 0px 0px 0px;
}
.intr_1x7cJ4:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:translateX(4px) scale(1.049804) ;
}
.intr_jbeDz:hover{
fill:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_FFcEv2:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_KNROO:hover{
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.040039) ;
}
.intr_mTyHU:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:translateY(-4px) scale(1.049804) ;
}
.intr_imNUT1:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_RhxIl2:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:translateY(4px) scale(1.049804) ;
}
.intr_dvlQx1:hover{
background-color:rgb(var(--tint));
color:rgb(var(--background));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
transform:scale(1.040039) ;
}
.intr_bzfvQ4:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
border-radius:12px;
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_81j173:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_cyYKa1:hover{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_xQlyN3:hover{
color:rgb(var(--tint));
text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
.intr_B1sSe3:hover{
box-shadow:inset 0px -2px 0px 0px rgba(0,0,0,0),0px 1px 3px 0px rgba(0,0,0,0);text-decoration:none;
anchor-name:--IBM Plex Mono,monospace;
}
