.lay_1515371949{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:70%;
height:38px;
}
.lay_2888630313{
display:flex;
flex-direction:row;
height:24px;
}
.lay_3595880992{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-end;
width:100%;
height:10%;
}
.lay_462274557{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:92%;
height:6%;
}
.lay_3482410926{
width:100%;
height:fit-content;
}
.lay_1006137703{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:flex-start;
width:100%;
}
.lay_80028923{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:60px;
width:100%;
height:100%;
}
.lay_1734278104{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:12px;
}
.lay_3343998394{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:24px;
width:40%;
height:60%;
}
.lay_2198888647{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:50%;
height:38px;
}
.lay_3908757824{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
}
.lay_226645792{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:100%;
}
.lay_748818003{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:20px;
}
.lay_4274619820{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
height:50%;
}
.lay_984347220{
width:56px;
}
.lay_1958613868{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
width:100%;
}
.lay_3019312349{
display:flex;
flex-direction:column;
align-items:space-between;
justify-content:flex-start;
width:100%;
height:100%;
}
.lay_1425985369{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
}
.lay_2887585135{
display:flex;
flex-direction:column;
align-items:flex-end;
justify-content:flex-end;
}
.lay_3831026980{
display:flex;
flex-direction:column;
gap:12px;
width:100%;
height:95%;
overflow-y:scroll;
}
.lay_2997031509{
width:85%;
height:100%;
}
.lay_2804356321{
display:flex;
flex-direction:row;
gap:8px;
height:100%;
}
.lay_742044807{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50px;
}
.lay_4033957821{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100%;
}
.lay_2331523217{
flex: 1;
}
.lay_2625374447{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:38px;
}
.lay_2355004687{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex: 1;
height:60px;
}
.lay_1524187505{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.lay_1999322267{
display:flex;
flex-direction:column;
gap:24px;
width:fit-content;
height:50%;
}
.lay_1983778634{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
width:20%;
height:100%;
}
.lay_231815115{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:12px;
width:16%;
height:100%;
}
.lay_1939127079{
width:16px;
height:16px;
}
.lay_1562640694{
display:flex;
flex-direction:row;
width:100%;
}
.lay_1660124298{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
width:100%;
height:100%;
}
.lay_3832934775{
width:100%;
height:32px;
}
.lay_3767935242{
display:flex;
flex-direction:column;
gap:4px;
width:100%;
height:100%;
}
.lay_1037852998{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:12px;
width:70%;
height:60%;
}
.lay_1137914374{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-end;
}
.lay_384275496{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
overflow-x:hidden;
overflow-y:hidden;
}
.lay_4075706570{
width:100%;
height:100%;
}
.lay_395582524{
width:24px;
height:24px;
}
.lay_2515671015{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:20px;
width:100%;
height:100px;
}
.lay_507254605{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lay_2714617306{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:24px;
width:100%;
height:30%;
}
.lay_445282552{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:100%;
}
.lay_1347266925{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:16px;
width:100%;
height:fit-content;
}
.lay_1877045488{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:95%;
overflow-y:scroll;
}
.lay_1301285207{
display:flex;
flex-direction:column;
width:14%;
height:100%;
}
.lay_3020568356{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:64px;
width:50%;
height:fit-content;
}
.lay_1473920705{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_93766174{
width:64px;
height:28px;
}
.lay_1399690073{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
height:100%;
}
.lay_305317029{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:100%;
}
.lay_3938473794{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:8px;
width:100%;
}
.lay_2180329839{
width:40px;
}
.lay_2877939849{
display:flex;
flex-direction:row;
width:14%;
height:100%;
}
.lay_3081113976{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80%;
}
.lay_12357932{
width:70%;
height:auto;
aspect-ratio:16 / 9;
object-fit: cover;
}
.lay_4125082454{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42px;
height:42px;
}
.lay_980083587{
text-align:center;
}
.lay_2914878829{
width:22%;
height:22%;
}
.lay_4244088633{
display:flex;
flex-direction:row;
width:50%;
height:60%;
}
.lay_3014985686{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}
.lay_2352082878{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_1565251068{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:fit-content;
}
.lay_1071775855{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:auto;
height:30px;
}
.lay_1168140406{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
flex: 1;
height:fit-content;
}
.lay_912259808{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_1580544207{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
}
.lay_2663509692{
display:flex;
flex-direction:column;
gap:32px;
width:50%;
}
.lay_1995275681{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:10%;
}
.lay_2372538233{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
width:100%;
}
.lay_3212761532{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:45px;
}
.lay_2754724585{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:56px;
height:56px;
}
.lay_2300415658{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:160px;
height:45px;
}
.lay_377518153{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:fit-content;
}
.lay_4005803810{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:12px;
width:fit-content;
}
.lay_672355136{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
height:100%;
overflow-y:scroll;
}
.lay_2427431289{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:24px;
width:30%;
}
.lay_3210686075{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
height:100%;
overflow-x:scroll;
}
.lay_3094387376{
width:60px;
}
.lay_1039046443{
width:fit-content;
height:fit-content;
}
.lay_3489440349{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:50%;
flex-wrap:wrap;
}
.lay_3637340433{
display:flex;
flex-direction:column;
width:40%;
height:100%;
}
.lay_619210704{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:22px;
height:22px;
}
.vis_3178010591{
background-color:rgba(0,0,0,0);
font-family:JetBrains Mono,Fira Code,Consolas,monospace;
text-decoration:none;
white-space:pre;
}
.vis_3232690693{
cursor:pointer;
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_1733681714{
font-size:16px;
font-weight:900;
text-decoration:none;
}
.vis_1245319647{
font-size:32px;
font-weight:700;
text-decoration:none;
}
.vis_1370338525{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px);
background-size: 14px 14px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_2782233086{
text-decoration:none;
}
.vis_4278938151{
font-size:14px;
font-weight:600;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_3147238904{
font-size:14px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_3610111763{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_858635165{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_3515653197{
font-size:16px;
font-weight:500;
color:rgb(var(--code_keyword_color));
text-decoration:none;
}
.vis_1950349343{
font-size:18px;
text-decoration:none;
}
.vis_3874154844{
font-size:18px;
font-weight:500;
text-decoration:none;
}
.vis_3706815932{
font-size:18px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4139430806{
background-color:rgba(0,0,0,0);
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_1342242223{
font-size:28px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_4060112500{
backdrop-filter:blur(3px);
text-decoration:none;
}
.vis_3075528920{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_136826223{
background-color:rgb(var(--image_bg));
text-decoration:none;
}
.vis_857139983{
background-image:linear-gradient(90deg, rgba(var(--border_color_light), 0.4) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgba(var(--border_color_light), 0.4) 1px, rgba(0,0,0,0) 1px);
background-size: 32px 32px;
background-position: center center;
border-width:0px 1px 0px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_3319038623{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_4047921463{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
color:rgb(var(--disabled));
text-decoration:none;
transition:100ms linear;
}
.vis_2249300481{
font-family:IBM Plex Sans,sans-serif;
font-weight:600;
text-decoration:none;
}
.vis_3152509604{
font-size:16px;
font-family:JetBrains Mono,Fira Code,Consolas,monospace;
font-weight:400;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_3089836945{
background-color:rgb(var(--background));
cursor:pointer;
font-size:22px;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_1521912593{
font-size:16px;
font-family:Montserrat, sans-serif;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_4269074653{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_1263352480{
background-color:rgba(var(--tint), 0.1);
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgb(var(--tint));
text-decoration:none;
}
.vis_2456070613{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_1097538586{
font-size:12px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_300020243{
font-size:24px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_427668022{
font-size:18px;
font-weight:700;
text-decoration:none;
}
.vis_1389268181{
font-size:20px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_721222220{
font-size:16px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_343800729{
cursor:pointer;
border-width:0px 0px 0px 2px;
border-style: solid;
border-color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_1429215715{
font-family:IBM Plex Sans,sans-serif;
font-weight:500;
text-decoration:none;
}
.vis_3491491361{
font-size:20px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_3831789631{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--alternate_border_color));
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_4026586765{
cursor:pointer;
text-decoration:none;
}
.vis_958342801{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(225,225,225);
text-decoration:none;
}
.vis_378852699{
fill:rgb(var(--icon_color));
text-decoration:none;
}
.vis_3553003164{
font-size:16px;
text-decoration:none;
}
.vis_3863708168{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(225,225,225);
text-decoration:none;
}
.vis_764255116{
border-width:1px 0px 0px 0px;
border-style: solid;
border-color:rgb(228,228,228);
text-decoration:none;
}
.vis_3661247892{
font-size:14px;
text-decoration:none;
}
.vis_615751812{
font-size:16px;
font-weight:400;
text-decoration:none;
}
.vis_3756830127{
font-family:IBM Plex Sans,sans-serif;
font-weight:400;
text-decoration:none;
}
.vis_2443298522{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--disabled));
text-decoration:none;
}
.vis_3684140710{
font-size:22px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_1253340569{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_2876239257{
color:rgb(var(--tint));
text-decoration:none;
}
.vis_4143872434{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_480202906{
font-size:12px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_4256751920{
font-size:20px;
font-weight:500;
text-decoration:none;
}
.vis_3997560536{
font-size:16px;
font-weight:500;
color:rgb(var(--code_text_color));
text-decoration:none;
}
.vis_335153065{
font-size:16px;
font-weight:500;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_1077293481{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(228,228,228);
text-decoration:none;
}
.vis_366807592{
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_75664072{
list-style:none;
text-decoration:none;
}
.vis_3753549206{
font-size:16px;
font-family:IBM Plex Sans;
font-weight:600;
text-decoration:none;
}
.vis_4247242258{
list-style:circle;
text-decoration:none;
}
.vis_1091182311{
background-color:rgba(0,0,0,0);
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_2616587745{
font-size:16px;
font-weight:500;
color:rgb(var(--code_function_color));
text-decoration:none;
}
.vis_4265825448{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_3289661572{
background-color:rgb(var(--dark_text));
border-width:1px 0px 0px 0px;
border-style: solid;
border-color:rgb(228,228,228);
text-decoration:none;
}
.vis_738904499{
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgb(0,0,0);
text-decoration:none;
}
.vis_2381593747{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgba(0,0,0,0);
list-style:none;
text-decoration:none;
}
.vis_194567530{
background-color:rgb(var(--alternate_background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_tint_color));
color:rgb(var(--alternate_text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_466091211{
background-color:rgb(var(--code_background));
text-decoration:none;
}
.vis_1022521277{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
}
.pos_451611742{
position:absolute;
top:44%;
right:46%;
}
.pos_1543091153{
position:absolute;
top:-56px;
left:-1px;
}
.pos_262527967{
position:absolute;
bottom:-56px;
left:308px;
}
.pos_666087934{
position:absolute;
top:-4%;
right:0%;
}
.pos_4172001399{
position:absolute;
right:0%;
bottom:0%;
}
.pos_2354560430{
position:fixed;
top:8%;
right:2%;
z-index:999;
}
.pos_3164251635{
position:relative;
z-index:10;
}
.pos_1781655325{
position:relative;
}
.pos_2346300536{
position:absolute;
top:1%;
left:1%;
}
.pos_2686566505{
position:fixed;
top:0px;
right:0%;
left:8%;
z-index:400;
}
.pos_1566944353{
position:absolute;
bottom:-4%;
left:32%;
}
.pos_2764679835{
position:fixed;
top:8%;
left:8%;
z-index:999;
}
.pos_4226863089{
position:fixed;
top:0px;
right:0px;
left:0px;
z-index:999;
}
.pos_1016200279{
position:absolute;
top:392px;
right:-56px;
}
.mapa_3669700437{
padding:0px 24px 0px 24px;
margin:0px 0px 0px 0px;
}
.mapa_3237006613{
padding:10px 0px 10px 0px;
margin:0px 0px 0px 0px;
}
.mapa_2382506810{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_814100625{
padding:12px 12px 12px 12px;
margin:0px 0px 0px 0px;
}
.mapa_2487839144{
padding:0px 50px 0px 50px;
margin:0px 0px 0px 0px;
}
.mapa_2475312953{
padding:8px 0px 8px 0px;
margin:0px 0px 0px 0px;
}
.mapa_1137301343{
padding:64px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_3227898581{
padding:0px 0px 0px 0px;
margin:12px 0px 0px 0px;
}
.mapa_3020504251{
padding:0px 0px 0px 0px;
margin:64px 0px 0px 0px;
}
.mapa_2213458730{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_650697518{
padding:0px 0px 0px 0px;
margin:64px 0px 64px 0px;
}
.mapa_578588946{
padding:0px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_3848092541{
padding:0px 0px 0px 24px;
margin:0px 0px 0px 0px;
}
.mapa_868563432{
padding:0px 0px 128px 0px;
margin:0px 0px 0px 0px;
}
.mapa_1848794511{
padding:16px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_3327631880{
padding:0px 0px 80px 0px;
margin:32px 0px 32px 0px;
}
.mapa_2428851175{
padding:12px 0px 12px 0px;
margin:0px 0px 0px 0px;
}
.mapa_646169155{
padding:32px 0px 32px 0px;
margin:0px 0px 0px 0px;
}
.mapa_4117309395{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_525701708{
padding:6px 0px 6px 0px;
margin:0px 0px 0px 0px;
}
.mapa_4066845637{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_766915671{
padding:16px 8px 64px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3646923428{
padding:0px 0px 0px 0px;
margin:0px 0px 32px 0px;
}
.mapa_1029637290{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_843586635{
padding:10px 8px 10px 8px;
margin:0px 0px 0px 0px;
}
.mapa_2676271459{
padding:60px 0px 120px 0px;
margin:0px 0px 0px 0px;
}
.mapa_4144445557{
padding:0px 0px 0px 6px;
margin:0px 0px 0px 0px;
}
.intr_4101004655:hover{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
position:none;
}
.intr_3267677006:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_457968657:hover{
fill:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_4249412876:hover{
background-color:rgba(0,0,0,0);
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_1664040927:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
position:none;
}
.intr_2395130620:hover{
background-color:rgba(var(--tint), 0.1);
text-decoration:none;
position:none;
}
.intr_2275201365:hover{
text-decoration:none;
position:none;
}
.intr_3436696024:hover{
color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_2808548978:hover{
color:rgb(var(--text_color));
text-decoration:none;
position:none;
}
.intr_3860370000:hover{
background-color:rgb(var(--tint));
color:rgb(var(--background));
text-decoration:none;
position:none;
}
.intr_2738320283:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_3191807552:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
position:none;
}
.anim_2200760625:hover{
transform:translateY(-4px) scale(1.049804) ;
}
.anim_752735341:hover{
transform:scale(1.049804) ;
}
.anim_4080515765:hover{
transform:translateX(4px) scale(1.049804) ;
}
.anim_3747322009:hover{
transform:translateY(4px) scale(1.049804) ;
}
