.lay_Om00V1{
width:60%;
height:100%;
}
.lay_VhOU93{
display:flex;
flex-direction:row;
height:24px;
}
.lay_tupWc4{
display:flex;
flex-direction:row;
width:100%;
height:100%;
}
.lay_UxqMt1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:12px;
}
.lay_yj4Je3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:24px;
width:40%;
height:60%;
}
.lay_IvyKF{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:100%;
}
.lay_ysrHf4{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
height:50%;
}
.lay_nn0Q93{
display:flex;
flex-direction:column;
align-items:flex-end;
justify-content:flex-end;
}
.lay_k7bGB4{
display:flex;
flex-direction:column;
gap:12px;
width:100%;
height:95%;
overflow-y:scroll;
}
.lay_ygm0M{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:32px;
width:100%;
height:60%;
}
.lay_toMCN4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:100%;
height:fit-content;
}
.lay_ZIMNZ2{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
flex: 1;
height:60px;
}
.lay_RnK9f1{
display:inline;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
}
.lay_Zxl4O4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
height:22.5px;
}
.lay_gUiP44{
width:80%;
height:100%;
}
.lay_DXNE72{
width:16px;
height:16px;
}
.lay_Qplg03{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:4px;
width:24%;
height:70%;
}
.lay_AEgkh1{
display:flex;
flex-direction:row;
width:100%;
}
.lay_dQbOB4{
width:100%;
height:32px;
}
.lay_cbDM94{
display:flex;
flex-direction:column;
gap:12px;
width:16%;
height:40%;
}
.lay_CQSaD{
width:100%;
}
.lay_bjyfY3{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:30%;
}
.lay_eVZ0F1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-end;
}
.lay_sbN0Q{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
overflow-x:hidden;
overflow-y:hidden;
}
.lay_AS3Ff3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:10%;
height:fit-content;
}
.lay_kSFpR4{
width:100%;
height:100%;
}
.lay_YSZ8C{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
gap:16px;
width:48%;
}
.lay_xwUFk2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:20px;
width:100%;
height:100px;
}
.lay_t5OKY{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
}
.lay_RKnBh1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:60%;
}
.lay_EHt132{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
height:95%;
overflow-y:scroll;
}
.lay_5j34Q1{
display:flex;
flex-direction:column;
width:14%;
height:100%;
}
.lay_xEnKo1{
display:flex;
flex-direction:column;
gap:16px;
width:100%;
}
.lay_v1GH02{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80%;
height:100%;
}
.lay_b6Qkb1{
display:flex;
flex-direction:column;
gap:16px;
}
.lay_6bjEU1{
display:flex;
flex-direction:row;
width:40%;
height:60%;
}
.lay_erQL6{
width:64px;
height:28px;
}
.lay_xR4q44{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:32px;
width:100%;
height:90%;
}
.lay_OcuwW3{
width:24px;
}
.lay_gYPNe2{
display:flex;
flex-direction:column;
width:60%;
height:60%;
}
.lay_tCy9M3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
flex: 1;
overflow-x:scroll;
}
.lay_yNQAV4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:42px;
height:42px;
}
.lay_kWW4b3{
width:30%;
height:30%;
}
.lay_QKdQC{
display:flex;
flex-direction:column;
gap:24px;
width:60%;
}
.lay_nVKK41{
text-align:center;
}
.lay_OVZ2I3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
}
.lay_sRkjz{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_kXoFu2{
display:flex;
flex-direction:column;
gap:32px;
width:50%;
}
.lay_xF6pk2{
width:100%;
height:38px;
}
.lay_MCJgV2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:160px;
height:45px;
}
.lay_IVp8Z1{
display:flex;
flex-direction:column;
gap:24px;
width:70%;
}
.lay_vsADV{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:2px;
width:100%;
height:fit-content;
}
.lay_28EIQ2{
display:flex;
flex-direction:column;
gap:8px;
width:100%;
}
.lay_1EMLS4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
width:50%;
height:52px;
}
.lay_x4rOR3{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
height:100%;
}
.lay_3TLYe1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:70%;
height:38px;
}
.lay_AAqfn3{
width:100%;
height:fit-content;
}
.lay_FjeHV{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:92%;
height:6%;
}
.lay_WuwLv3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:flex-end;
width:100%;
height:10%;
}
.lay_a9Tpt{
width:10%;
}
.lay_vNJoO2{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:50%;
height:38px;
}
.lay_iKMqA2{
text-align:center;
flex: 1;
}
.lay_5BnP5{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:60px;
width:100%;
height:100%;
}
.lay_vtJG3{
text-align:center;
width:100%;
}
.lay_rvVpr2{
width:30%;
height:fit-content;
}
.lay_2TkWG4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
}
.lay_H4jKI3{
display:flex;
flex-direction:column;
align-items:space-between;
justify-content:flex-start;
width:100%;
height:100%;
}
.lay_dkXDo{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:10px;
height:50px;
}
.lay_ph40P4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:100%;
}
.lay_D6BTz3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:8px;
height:100%;
}
.lay_erITT4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:80%;
}
.lay_9pnfr2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:38px;
}
.lay_jYn4M2{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100%;
height:36px;
}
.lay_u6tpY1{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:100%;
}
.lay_L3xIB2{
display:flex;
flex-direction:column;
gap:24px;
width:fit-content;
height:50%;
}
.lay_aRjFA2{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:24px;
width:20%;
height:100%;
}
.lay_MAiLo1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
width:100%;
height:100%;
}
.lay_Mmpv02{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:32px;
}
.lay_Sxijj3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:30%;
}
.lay_UyiE81{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:12px;
width:70%;
height:60%;
}
.lay_e383O{
width:100%;
height:90%;
}
.lay_eCOuQ1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
gap:8px;
}
.lay_I5plQ{
width:24px;
height:24px;
}
.lay_OCKoZ4{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:16px;
width:100%;
height:90%;
}
.lay_KMf8e2{
width:100%;
height:16px;
}
.lay_MqIUB1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:70%;
}
.lay_ZCPsJ{
text-align:center;
width:40%;
}
.lay_s7yXu3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40%;
height:100%;
}
.lay_oAEsI1{
display:flex;
flex-direction:row;
gap:16px;
width:100%;
height:100%;
}
.lay_LKxiW1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
height:100%;
}
.lay_Du4fK{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:100%;
}
.lay_fcXl83{
display:flex;
flex-direction:row;
width:14%;
height:100%;
}
.lay_iU2WM3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:80%;
}
.lay_HKTla3{
display:flex;
flex-direction:column;
width:100%;
}
.lay_i88sa1{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
gap:8px;
}
.lay_cC6BZ2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:24px;
}
.lay_Lr3XA1{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
width:auto;
height:30px;
}
.lay_Vknxi1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100%;
height:100%;
}
.lay_4F0tz2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-start;
gap:64px;
width:100%;
height:100%;
}
.lay_hZvYa2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:16px;
width:100%;
}
.lay_O2QQV3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:45px;
}
.lay_hhXQ03{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:56px;
height:56px;
}
.lay_JGwEC2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40%;
height:fit-content;
}
.lay_gH8Vj{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
width:100%;
height:100%;
overflow-y:scroll;
}
.lay_ZlFHe2{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:24px;
width:30%;
}
.lay_8cnFW{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:16px;
width:100%;
height:100%;
}
.lay_v6rNw{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
gap:16px;
width:100%;
height:80%;
}
.lay_xpK9o3{
display:flex;
flex-direction:row;
justify-content:space-evenly;
align-items:center;
width:100%;
height:50%;
flex-wrap:wrap;
}
.lay_Qz8uf{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:22px;
height:22px;
}
.vis_f5h9s{
font-size:15px;
font-weight:400;
color:rgb(var(--code_component_color));
text-decoration:none;
}
.vis_JHooA{
background-color:rgb(var(--background));
font-size:18px;
font-family:Montserrat;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
outline:none;
text-decoration:none;
transition:100ms linear;
}
.vis_s1psy3{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
text-decoration:none;
}
.vis_IezQy1{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
}
.vis_BxJqZ3{
background-color:rgba(var(--text_color), 0.009999);
background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgb(var(--background))), 
radial-gradient(circle, rgba(var(--tint), 0.4) 0.5px, transparent 0px);
background-size: 100% 100%, 
6px 6px;
background-position: center center;
border-width:1px 0px 0px 0px;
border-style: solid;
border-color:rgba(var(--text_color), 0.1);
text-decoration:none;
}
.vis_JKpV4{
background-color:rgb(var(--alternate_background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_tint_color));
color:rgb(var(--alternate_text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_QjDof1{
font-size:16px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-family:Azeret Mono, monospace;
text-decoration:none;
}
.vis_8tpww2{
color:rgb(255,255,255);
text-decoration:none;
}
.vis_Q1BDN4{
font-size:18px;
font-weight:100;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_1JqMW2{
font-size:14px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_6QsRw2{
background-color:rgba(0,0,0,0);
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_Fhcz93{
font-size:15px;
font-weight:400;
color:rgb(var(--code_operator_color));
text-decoration:none;
}
.vis_xoDWI2{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
color:rgb(var(--text_color));
box-shadow:4px 4px 0px 0px rgb(var(--tint));
text-decoration:none;
}
.vis_p2W5i2{
font-size:12px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_sJTox1{
font-size:20px;
font-family:IBM Plex Mono,monospace;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_ZtdGV1{
font-size:16px;
text-decoration:none;
}
.vis_QkzEr2{
font-size:32px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_fLzDC4{
font-size:36px;
font-weight:300;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_hjI3E3{
fill:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_DAOXU1{
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_cEtlN{
font-size:15px;
font-weight:400;
color:rgb(var(--code_comment_color));
text-decoration:none;
}
.vis_BCQex{
font-size:32px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_fKNC34{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_cXE8H{
background-color:rgb(var(--text_color));
cursor:pointer;
font-size:18px;
font-family:Montserrat;
border-width:0px 0px 0px 0px;
border-style: solid;
border-color:rgb(0,0,0);
color:rgb(255,255,255);
text-decoration:none;
transition:100ms linear;
}
.vis_3JJM7{
font-size:14px;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_yriDC1{
font-size:64px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_zXVKS2{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
}
.vis_hOuFU{
font-size:20px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_om8yd3{
font-size:16px;
font-family:Montserrat, sans-serif;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_kYSZA{
list-style:circle;
text-decoration:none;
}
.vis_UBjfs3{
background-image:linear-gradient(90deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(var(--grid_color)) 1px, rgba(0,0,0,0) 1px);
background-size: 14px 14px, 14px 14px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_1CLzF{
background-color:rgba(0,0,0,0);
cursor:pointer;
text-decoration:none;
transition:100ms linear;
}
.vis_F3VLW4{
font-size:14px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_ElGQZ2{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--disabled));
text-decoration:none;
}
.vis_puOTZ3{
background-image:linear-gradient(90deg, rgb(0,0,0) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgb(0,0,0) 1px, rgba(0,0,0,0) 1px), 
linear-gradient(145deg, rgb(13,13,13), rgb(13,13,13), rgb(26,26,26), rgb(10,10,10));
background-size: 14px 14px, 14px 14px, 
100% 100%;
background-position: center center;
border-width:1px 0px 0px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_3JgbB2{
font-size:24px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_YoqZT4{
cursor:pointer;
border-width:0px 0px 0px 2px;
border-style: solid;
border-color:rgba(0,0,0,0);
text-decoration:none;
}
.vis_2fdHn2{
font-size:12px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_UVDGP4{
font-size:15px;
font-weight:400;
color:rgb(var(--code_identifier_color));
text-decoration:none;
}
.vis_KcpTB1{
fill:rgb(var(--icon_color));
text-decoration:none;
}
.vis_A7Qpx3{
background-color:rgb(var(--background));
cursor:pointer;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(225,225,225);
text-decoration:none;
}
.vis_pfISW2{
font-size:72px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_bA0ae{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--disabled));
text-decoration:none;
}
.vis_0iRpV4{
list-style:none;
text-decoration:none;
}
.vis_5a2Ng1{
font-size:14px;
font-family:DM Mono, monospace;
font-weight:600;
color:rgb(var(--disabled));
text-decoration:none;
}
.vis_2GZRx2{
font-size:24px;
font-family:IBM Plex Mono,monospace;
font-weight:100;
color:rgb(var(--dark_tint));
text-decoration:none;
}
.vis_pniAH4{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(228,228,228);
text-decoration:none;
}
.vis_BCSPy{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:500;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_m3Gxp2{
background-color:rgba(var(--tint), 0.1);
background-image:radial-gradient(circle, rgba(var(--tint), 0.3) 0.5px, transparent 0px);
background-size: 6px 6px;
background-position: center center;
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgb(var(--tint));
text-decoration:none;
}
.vis_i6tu9{
color:rgb(var(--tint));
text-decoration:none;
}
.vis_wxLIU1{
border-width:1px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_q2CE54{
font-size:14px;
font-weight:600;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_Q7CHG{
fill:rgb(var(--tint));
color:rgb(var(--tint));
text-decoration:none;
}
.vis_7B5W52{
font-family:DM Mono, monospace;
text-decoration:none;
white-space:pre;
}
.vis_hV3fO3{
font-size:15px;
font-weight:400;
color:rgb(var(--code_keyword_color));
text-decoration:none;
}
.vis_7uRVI4{
border-width:1px 0px 0px 0px;
border-style: solid;
border-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_OOqwo{
font-size:16px;
font-family:IBM Plex Mono,monospace;
font-weight:100;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_ltmO23{
background-color:rgb(var(--background));
background-image:linear-gradient(90deg, rgba(var(--tint), 0.05) 1px, rgba(0,0,0,0) 1px),linear-gradient(180deg, rgba(var(--tint), 0.05) 1px, rgba(0,0,0,0) 1px);
background-size: 4px 4px, 4px 4px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(var(--tint), 0.1);
box-shadow:4px 4px 0px 0px rgba(var(--tint), 0.1);
text-decoration:none;
transition:100ms linear;
}
.vis_8H90T4{
background-color:rgba(0,0,0,0);
cursor:pointer;
border-width:0px 0px 0px 0px;
border-style: solid;
text-decoration:none;
}
.vis_qoatr3{
font-size:18px;
font-weight:700;
text-decoration:none;
}
.vis_vK0Aj{
font-size:28px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_TLNmO4{
font-size:15px;
font-weight:400;
color:rgb(var(--code_type_color));
text-decoration:none;
}
.vis_JbIRv3{
font-size:15px;
font-weight:400;
color:rgb(var(--code_text_color));
text-decoration:none;
}
.vis_4cjOk3{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--alternate_border_color));
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_OUaIM{
font-size:16px;
font-family:IBM Plex Mono,monospace;
color:rgb(var(--dark_tint));
text-decoration:none;
}
.vis_Ou2Cm1{
cursor:pointer;
text-decoration:none;
}
.vis_9Lj9q1{
font-size:24px;
font-family:IBM Plex Sans;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_iMRGa1{
backdrop-filter:blur(2px);
text-decoration:none;
}
.vis_XHHjI4{
font-size:18px;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_lnMvY2{
font-size:32px;
font-weight:700;
text-decoration:none;
}
.vis_gm3id2{
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_BBCjf4{
font-size:18px;
font-weight:500;
text-decoration:none;
}
.vis_ddtxw{
font-size:72px;
font-family:IBM Plex Mono,monospace;
font-weight:700;
color:rgb(var(--tint));
text-decoration:none;
}
.vis_yyOEd4{
font-size:24px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_exlBf4{
font-size:16px;
color:rgb(var(--icon_color));
text-decoration:none;
}
.vis_WPwxh{
border-width:0px 0px 0px 1px;
border-style: solid;
border-color:rgb(0,0,0);
text-decoration:none;
}
.vis_iaakP{
font-size:16px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_ltZ1f2{
font-size:18px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_x81xr3{
font-size:15px;
font-weight:400;
color:rgb(var(--code_string_color));
text-decoration:none;
}
.vis_eHHGV{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgba(0,0,0,0);
list-style:none;
text-decoration:none;
}
.vis_qhAtY4{
font-size:16px;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_MMutl{
backdrop-filter:blur(3px);
text-decoration:none;
}
.vis_ONgT02{
font-size:20px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_wVRmk2{
background-color:rgb(var(--background));
cursor:pointer;
font-size:22px;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--border_color_light));
color:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_i01PD2{
text-decoration:none;
}
.vis_GBD8J1{
font-size:15px;
font-weight:400;
color:rgb(var(--code_function_color));
text-decoration:none;
}
.vis_dulgq2{
font-size:84px;
font-weight:900;
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--text_color));
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_BnP951{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(var(--tint), 0.1);
text-decoration:none;
}
.vis_tBb2L3{
fill:rgb(255,255,255);
color:rgb(255,255,255);
text-decoration:none;
}
.vis_jFxPT1{
font-size:224px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_Wvp9J1{
fill:rgb(var(--text_color));
stroke:rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_pEncD4{
font-size:18px;
text-decoration:none;
}
.vis_736Rf1{
background-color:rgba(0,0,0,0);
background-image:radial-gradient(circle, rgb(var(--text_color)) 0.5px, transparent 0px);
background-size: 8px 8px;
background-position: center center;
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--text_color));
box-shadow:4px 4px 0px 0px rgb(var(--text_color));
text-decoration:none;
transition:100ms linear;
}
.vis_KnyBU1{
font-size:18px;
font-weight:500;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_8su3T3{
font-size:12px;
font-weight:500;
color:rgb(111,111,111);
text-decoration:none;
}
.vis_LvvM04{
font-size:24px;
text-decoration:none;
}
.vis_MfoiW1{
font-size:14px;
font-family:Montserrat;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_cWxqK4{
font-size:24px;
font-weight:700;
color:rgb(var(--text_color));
text-decoration:none;
}
.vis_al5vZ{
background-color:rgb(var(--code_background));
text-decoration:none;
}
.pos_VEyWW2{
position:absolute;
top:10%;
right:20%;
}
.pos_zUeQg1{
position:absolute;
top:-56px;
left:-1px;
}
.pos_3WXlH{
position:absolute;
bottom:-56px;
left:308px;
}
.pos_mtp4j{
position:absolute;
top:-4%;
right:0%;
}
.pos_8jULZ2{
position:fixed;
top:8%;
right:2%;
z-index:999;
}
.pos_99ILY4{
position:absolute;
right:0%;
bottom:0%;
}
.pos_hOs8S3{
position:relative;
z-index:10;
}
.pos_DwdZw1{
position:relative;
}
.pos_2xpmY2{
position:absolute;
top:1%;
left:1%;
}
.pos_pfYov2{
position:fixed;
top:0px;
right:0%;
left:8%;
z-index:400;
}
.pos_Hxhm3{
position:absolute;
bottom:5%;
left:20%;
}
.pos_FWJ613{
position:fixed;
top:8%;
left:8%;
z-index:999;
}
.pos_1oj2i1{
position:absolute;
bottom:-4%;
left:32%;
}
.pos_56SRy{
position:absolute;
right:1%;
bottom:-60px;
}
.pos_7BU3c4{
position:fixed;
top:0px;
right:0px;
left:0px;
z-index:999;
}
.pos_57sl61{
position:absolute;
top:392px;
right:-56px;
}
.mapa_ZJums2{
padding:0px 0px 0px 0px;
margin:32px 0px 0px 0px;
}
.mapa_5cfTW4{
padding:0px 0px 0px 6px;
margin:0px 0px 0px 0px;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_Ty9Wh2{
padding:8px 0px 8px 0px;
margin:0px 0px 0px 0px;
}
.mapa_obiMi2{
padding:0px 50px 0px 50px;
margin:0px 0px 0px 0px;
}
.mapa_Fls5t{
padding:12px 12px 12px 12px;
margin:0px 0px 0px 0px;
}
.mapa_FH1H21{
padding:120px 0px 80px 0px;
margin:0px 0px 0px 0px;
}
.mapa_320yE1{
padding:64px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_LsvRW3{
padding:0px 0px 0px 0px;
margin:12px 0px 0px 0px;
}
.mapa_V8jPI3{
padding:0px 0px 0px 0px;
margin:64px 0px 0px 0px;
}
.mapa_GjRnP2{
padding:8px 12px 8px 12px;
margin:0px 0px 0px 0px;
}
.mapa_WshOF{
padding:0px 12px 0px 12px;
margin:0px 0px 32px 0px;
}
.mapa_Jd1Po1{
padding:128px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_G9G2i{
padding:0px 0px 0px 0px;
margin:64px 0px 64px 0px;
}
.mapa_c1Pmw{
padding:0px 0px 128px 0px;
margin:0px 0px 0px 0px;
}
.mapa_JuL712{
padding:16px 0px 64px 0px;
margin:0px 0px 0px 0px;
}
.mapa_esMkV{
padding:0px 0px 0px 0px;
margin:100px 0px 0px 0px;
}
.mapa_t79Oh3{
padding:0px 0px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_rPfvm1{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_w3PCd3{
padding:0px 0px 80px 0px;
margin:32px 0px 32px 0px;
}
.mapa_9SPU2{
padding:0px 0px 0px 0px;
margin:24px 0px 0px 0px;
}
.mapa_x8DNe2{
padding:12px 0px 12px 0px;
margin:0px 0px 0px 0px;
}
.mapa_AyNhz{
padding:80px 0px 80px 0px;
margin:0px 0px 0px 0px;
}
.mapa_MG7pt1{
padding:20px 20px 20px 20px;
margin:0px 0px 0px 0px;
}
.mapa_tsrSN{
padding:0px 0px 0px 0px;
margin:16px 0px 0px 0px;
}
.mapa_3GodU4{
padding:0px 0px 0px 0px;
margin:0px 30px 0px 0px;
}
.mapa_TK4ER4{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_bnttp{
padding:16px 8px 64px 8px;
margin:0px 0px 0px 0px;
}
.mapa_cN7oy3{
padding:0px 0px 0px 0px;
margin:0px 0px 32px 0px;
}
.mapa_4hFg71{
padding:4px 8px 4px 8px;
margin:0px 0px 0px 0px;
}
.mapa_3Qb5v{
padding:10px 8px 10px 8px;
margin:0px 0px 0px 0px;
}
.mapa_hSM7v2{
padding:60px 0px 120px 0px;
margin:0px 0px 0px 0px;
}
.mapa_VKsEa1{
padding:0px 0px 0px 0px;
margin:0px 0px 0px -16px;
}
.mapa_jigL04{
padding:0px 24px 0px 24px;
margin:0px 0px 0px 0px;
}
.intr_1axpu:hover{
background-color:rgba(var(--tint), 0.1);
text-decoration:none;
position:none;
}
.intr_0KzKp2:hover{
fill:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_zbZSo3:hover{
background-color:rgb(var(--tint));
color:rgb(255,255,255);
text-decoration:none;
position:none;
}
.intr_wtIFA1:hover{
fill:rgb(var(--tint));
stroke:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_ZfPgK1:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgba(var(--tint), 0.5);
box-shadow:4px 4px 0px 0px rgba(var(--tint), 0.5);
text-decoration:none;
position:none;
}
.intr_qCoSH2:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_HNOBs3:hover{
color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_RlB5D3:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
position:none;
}
.intr_bQwWU1:hover{
border-width:0px 0px 1px 0px;
border-style: solid;
border-color:rgb(var(--text_color));
text-decoration:none;
position:none;
}
.intr_M29B5:hover{
background-color:rgb(var(--tint));
color:rgb(var(--background));
text-decoration:none;
position:none;
}
.intr_xtuuh1:hover{
border-width:1px 1px 1px 1px;
border-style: solid;
border-color:rgb(var(--tint));
text-decoration:none;
position:none;
}
.intr_HK65V:hover{
text-decoration:none;
position:none;
}
.anim_7NAwO2:hover{
transform:translateY(-4px) scale(1.049804) ;
}
.anim_yrWjP2:hover{
transform:scale(1.040039) ;
}
.anim_rDmju1:hover{
transform:scale(1.019531) ;
}
.anim_PYQ9S4:hover{
transform:translateX(4px) scale(1.049804) ;
}
.anim_ZdNb54:hover{
transform:translateY(4px) scale(1.049804) ;
}
